.item {
    padding: 0 5px;
    &__link {
        display: block;
        position: relative;
        padding: 8px;
        border-radius: 8px;
        margin-top: 16px;
        text-align: center;
        background-color: #e6ebf5;
    }
}

.box-avatar {
    position: absolute;
    top: -14px;
    left: 0;
    right: 0;
}

h5 {
    font-size: 13px;
}

.swiper-slide {
    width: 80.5px !important;
}
