.profile-user {
    height: 36px;
    width: 36px;
    background-color: #f0eff5;
    padding: 3px;
    border-radius: 50%;
}
a {
    span {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.dropdown {
    position: relative;
    margin: 7px 0;
    button {
        border: none;

        &:focus {
            box-shadow: 0 0 0 0.15rem rgba(114, 105, 239, 0.25);
        }
    }
}
