.side-menu {
    $width: 75px;
    $minHeight: 570px;
    $height: 100vh;
    $background-color: #fff;

    display: flex;
    flex-direction: column;
    min-width: $width;
    max-width: $width;
    height: $height;
    min-height: $minHeight;
    background-color: $background-color;
    z-index: 9;
    box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    .navbar-brand-box {
        text-align: center;
        a {
            display: block;
            line-height: 70px;
        }
    }

    .menu-list {
        $size: 56px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & > li {
            margin: 7px 0;

            & a {
                display: block;
                text-align: center;
                font-size: 24px;
                color: #878a92;
                width: $size;
                height: $size;
                line-height: $size;
                margin: 0 auto;
                border-radius: 8px;
                padding: 0;

                &.active {
                    color: #7269ef;
                }
            }
        }
    }

    .profile-user {
        height: 36px;
        width: 36px;
        background-color: #f0eff5;
        padding: 3px;
        border-radius: 50%;
    }

    .dropdown {
        position: relative;
        margin: 7px 0;
        button {
            border: none;

            &:focus {
                box-shadow: 0 0 0 0.15rem rgba(114, 105, 239, 0.25);
            }
        }
    }
}
