.chat-user {
    display: flex;
    align-items: flex-start;
    padding: 15px 20px;
    border-top: 1px solid #f5f7fb;
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
        background-color: $color-hover;
    }
}
.content {
    flex: 1;

    p {
        font-size: 14px;
    }
}

h5 {
    font-size: 15px;
}
.time {
    font-size: 11px;
}

.unread {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
}
