@import "normalize.css";
@import "../fonts/style.scss";
@import "remixicon/fonts/remixicon.css";
@import "vue3-toastify/dist/index.css";

* {
    box-sizing: border-box;
}

body {
    font-family: $font-Public-Sans;
    font-size: $font-size-default;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    color: $color-gray;
    background-color: #f7f7ff;
}

p {
    font-family: $font-Public-Sans;
}

input {
    color: $color-gray;
    padding: 0;
    outline: none;
    border: 0;
    font-family: $font-Public-Sans;
}

input:focus {
    box-shadow: none !important;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
